@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Edu+TAS+Beginner:wght@400;700&family=Sawarabi+Mincho&display=swap');

html {
	font-size: 14px;
	box-sizing: border-box;
}

/* --Reset-- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Sawarabi Mincho', serif;
	margin: 0;
	background-color: var(--background-body);
	color: var(--text);
	height: auto;
	padding: 90px 20 px 0;
}

h1,
h2,
i,
p {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--subtitles);
}

i:hover {
	transform: scale(1.5);
}

a {
	text-decoration: none;
}

:root {
	--subtitles: rgb(224, 138, 129);
	--background-body: rgb(226, 189, 195);
	--text: rgb(197, 101, 90);
}

header {
	margin-top: 7rem;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: 1px solid red;
}

.header-nav {
	width: 100%;
	height: 6rem;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgb(156, 113, 113);
	opacity: 30%;
	font-weight: bold;
	font-size: 17px;
}

.header-nav_ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	list-style: none;
	gap: 20px;
	background-color: ffffff;
}

.nav-ul_li a{
	border-radius: 10px;
	width: 60px;
	height: auto;
	color: var(--subtitles);
}

.nav-ul_li:hover{
 background-color: #ffffff;
}

.btn{
	color: #ffffff;
	background-color: red;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	display: none;
	left: 0;
	top: 60px;

}


/* CV */

.me {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 100%;
	height: auto;
	padding: 80px;
	outline: 1px solid red;
}

.name {
	color: var(--subtitles);
	font-size: 50px;
	text-align: center;
}

.name:hover {
	transition: 1s;
	color: #ffffff;
	transform: translate(-30%);
}

.profession {
	color: var(--subtitles);
	font-size: 40px;
	text-align: center;
}

.profession:hover {
	transition: 1s;
	color: #ffffff;
	transform: translate(-35%);
}

.my-cv{
	width: auto;
	height: 60px;	
	display: flex;
	justify-content: end;
	flex-direction: column;
	gap: 10px;
	margin-top: 40px;
}

.cv{
	width: fit-content;
	height: auto;
	display: flex;
	text-align: center;
	background-color: rgb(255, 234, 234);
	opacity: 60%;
	border-radius: 5px;
	color: var(--subtitles);
	justify-content: center;
	font-weight: bold;
	padding: 10px 20px;
	color: var(--text);
	gap: 20px;
}

.my-cv a {
	color: var(--subtitles);
	text-decoration: none;
}

.cv:hover {
	background-color: #ffffff;
	border-radius: 5px;
}

.redes {
	display: flex;
	justify-content: center;
	/* outline: 1px solid red; */
}

.iconos-redes {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.link {
	font-size: 50px;
	color: var(--subtitles);
}

.image {
	justify-content: center;
	display: flex;
	align-items: center;
	outline: 1px solid red;
}

.photo {
	width: 25rem;
	height: 30rem;
	border-radius: 50px;
	box-shadow: 8px 8px 8px 2px rgb(32, 32, 32);
}

.about-me {
	text-align: justify;
	padding: 20px;
	align-items: center;
	outline: 1px solid red;
}

.description {
	font-size: 20px;
	padding: 20px;
}

.habilidades1 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	outline: 1px solid red;
}

.habilidades {
	font-size: 25px;
	padding: 30px;
}

.iconos {
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 80px;
	gap: 30px;
}

.portafolio {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 30px;
	outline: 1px solid red;
}

.portafolio-title {
	font-size: 25px;
}

.portafolio-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	list-style: none;
	padding: 0;
	justify-content: space-around;
}

.portafolio-cards li {
	display: grid;
	justify-content: center;
}

.tarjeta {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.iconos-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 40px;
	font-size: 30px;
	color: var(--subtitles);
}

.tarjeta img {
	max-width: 300px;
	border-radius: 10px;
}

.port {
	font-size: 20px;
	color: var(--text);
	text-decoration: none;
}

.contacto {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 30px;
}

.contacto-title {
	font-size: 25px;
}

.contacto-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 40px;
	font-size: 25px;
}

.phone {
	width: 300px;
	height: auto;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(156, 113, 113);
	color: #ffffff;
	opacity: 50%;
}

.e-mail {
	width: 300px;
	height: auto;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(156, 113, 113);
	color: #ffffff;
	opacity: 50%;
}

.footer {
	background-color: rgb(156, 113, 113);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 30%;
	color: #ffffff;
	font-size: 20px;
}

.icons-footer{
	display: flex;
	flex-direction: row;
	gap: 40px;
}

@media screen and (max-width: 996px) {
	body {
		background-color: rgb(228, 210, 210);
	}
	.portafolio-cards {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		justify-content: center;
	}

	.tarjeta img {
		max-width: 340px;
	}

	.name {
	font-size: 40px;
	}

	.profession {
	font-size: 30px;
	}

	.iconos {
	font-size: 60px;
	gap: 25px;
	}

}

@media screen and (max-width: 768px) {
	body {
		background-color: rgb(196, 173, 173);
	}
	.portafolio-cards {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		justify-content: center;
	}

	.tarjeta img {
		max-width: 240px;
	}

	.name {
	font-size: 30px;
	}

	.profession {
	font-size: 25px;
	}

	.iconos {
	font-size: 40px;
	gap: 20px;
	}
}

@media screen and (max-width: 560px) {
	body {
		background-color: rgb(209, 192, 192);
	}
	.portafolio-cards {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.tarjeta img {
		max-width: 300px;
	}

	.name {
	font-size: 20px;
	}

	.profession {
	font-size: 20px;
	}

	.iconos {
	font-size: 50px;
	gap: 20px;
	}

	.btn{
	flex-direction: column;
	margin-left: 20px;
	background-color: white;
	position: fixed;	
	}
}
